<html>
    <head>
        <title>나의 첫 블로그 타이틀</title>
    </head>
    <body>
        <div>
            <h1><a href="">페이지섹션+ 큰 제목 + 하이퍼링크</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14 - 박스</p>
            <h2><a href="">My first post - 중제목</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post - 중제목</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>